body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.promo {
    background: white;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  }
  
  .promo h2 {
    font-size: 2rem;
    color: #1e40af; 
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .promo p {
    font-size: 1.125rem;
    color: #374151; 
    line-height: 1.6;
  }
  

.container {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
    font-variant: small-caps;
}

h3{
    font-variant: small-caps;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.cta {
    background-color: #e74c3c;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.cta:hover {
    background-color: #c0392b;
}

.contact-info {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.contact-info h3 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.location {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.location h3 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.location p {
    font-size: 16px;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 8px;
    margin-top: 10px;
}
