@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --themecolor: #343434;
}

header {
    height: 17vh;
    background-color: var(--themecolor);
}

nav {
    background-color: var(--themecolor);
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

ul>li {
    padding: 1% 10% 1% 10%;
    color: white;
}
#logo {
    height: 100px;
    width: 258px;
}
.options{
    padding: 10px;
}

ul>li:hover{
    background-color: whitesmoke;
    transform: translateX(1.2);
    color: black;
    cursor: pointer;
}

#logo {
    height: 100%;
    width: 700px;
    border: 10px white solid;
}   
.topbuss{   
    padding: 20px;
    display: flex;
    gap: 20px;
    width: 100vw;
    align-items: flex-start;
}
.cards{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0;
    width: 200px;
    background-color: #a47e7e8f;
    align-items: stretch;
}
.title{
    background-color: rgb(45, 159, 70);
    color: white;
    padding: 10px;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    text-align: center;
}
.title:hover{
    background-color: rgb(173, 224, 189);
    color: black;
    cursor: pointer;
}
.details{
    background-color: #cdcb91;
    padding: 10px;
    display: none;
    opacity: 0;
    line-height: 1.4;
    clip-path: inset(0 0 100% 0); 
    transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-in-out;}

 .details.active{
    display: block;
    opacity: 1;
    clip-path: inset(0 0 0 0);  }
.rounded{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
